.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width:272px;
    height: 38px;
    margin-top:10px;
}
.ant-menu-horizontal{
    display: flex;
    justify-content: space-around
}
.ant-menu-horizontal>.ant-menu-item {
    font-size: 18px;
}
.ant-menu-horizontal>.ant-menu-item a {
   display: inline-block
}
.ant-menu-item a{
    display: inline-block
}
.footer{
    text-align: center;
}
 .login-form {
    max-width: 100%;
} 

 .login-form-button {
    width: 100%;
}
.container {
    text-align: center;
    margin-top: 5px;
}

.carousel {
    width: 400px;
    float: left;
}

.carousel img {
    width: 400px;
    height: 260px;
}

.topNewsList {
    float: left;
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px;
}

.topNewsList a {
    line-height: 22px !important;
    color: #666 !important;
}

.tabs_news {
    padding-left: 10px;
    width: 460px;
    float: left;
}

.tabs_product {
    width: 300px;
    padding-left: 10px;
    float: left;
}

.tabs_news li {
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    width: 417px;
    float: left;
    text-overflow: ellipsis;
}

.tabs_product li {
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    width: 257px;
    text-overflow: ellipsis;
}

.clearfix {
    margin-top: 20px;
}

.ant-tabs-bar {
    margin-bottom: 0 !important;
}

.ant-card-body {
    padding: 15px !important;
}

.leftContainer {
    width: 400px;
    float: left;
}


/*image block******START*****/

.imageblock {
    float: left;
}

.custom-card {
    padding: 5px;
}

.custom-card p {
    color: #999;
}
.avatar-uploader,
.avatar-uploader-trigger,
.avatar {
    width: 150px;
    height: 150px;
}

.avatar-uploader {
    display: block;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
}

.avatar-uploader-trigger {
    display: table-cell;
    vertical-align: middle;
    font-size: 28px;
    color: #999;
}
    .ant-upload.ant-upload-select-picture-card {
    width:150px;
    height:150px;
}
.ant-upload.ant-upload-select-picture-card>.ant-upload{
    padding:0;
}
.tabs_product {
    width: 300px;
    padding-left: 10px;
    float: left;
}
.hotnews {
    padding-bottom: 2px
}

.hotnews li {
    padding-left: 10px;
    line-height: 24px;
    position: relative;
    overflow: hidden
}
.hotnews li.hdline0 strong {
    display: block;
    padding: 14px 0 1px
}

.hotnews li strong {
    display: block;
    padding: 6px 0 1px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden
}
.hotnews li a:link,
.hotnews li a:active,
.hotnews li a:visited {
    font-size: 12px;
    color: #222
}